body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #d4d3d398;
  background-image: url("/static/images/BG.png");
  
}

.container {
  width: 80%;
  margin-inline: auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.652);
}

.header {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.robber {
  display: inline;
  width: 150px;
}

.half-size {
  width: calc(50% - 50px);
}

.input-group {
  justify-content: space-around;
  margin-bottom: 15px;
  margin-right: 20px;
}

.input-group label {
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
}

.input-group select,
.input-group input,
.input-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

button:hover {
  background-color: #45a049;
}

#map {
  height: 500px;
  width: 95%;
  margin: 15px;
}

#predictionResult {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#resetbutton {
  background-color: gray;
}
#map-message {
  padding: 10px;
  color: red;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .input-group {
    width: 100%;
    margin-bottom: 10px;
  }
  .input-row {
    display: flex;
    flex-wrap: wrap;
  }
  .input-row .input-group {
    flex: 1 1 100%;
    margin-right: 0;
  }
  .half-size {
    flex: 1 1 calc(50% - 5px);
    margin-right: 10px;
  }
}
